/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.container {
    max-width: 400px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bg-dark {
    background-color: black;
}

.h-100 {
    height: 100px;
    background-color: rgb(44, 43, 43);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#onOffButton {
    height: 50px;
    width: 150px;
    border-radius: 50px;
}